body {
  margin: 0;
  padding: 0;
}

header {
  background: #444;
  height: 8%;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.headh {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  margin-left: 10px;
}

.headu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.headu i {
  font-size: 35px;
}

.headuu {
  margin-left: 7px;
}

.headext {
  width: 200px;
  height: auto;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 1px 1px #ddd;
  background: white;
  position: absolute;
  right: 3px;
  top: calc(8% + 1.9px);
  display: flex;
  flex-direction: column;
  display: none;
  z-index: 1;
}

.headext span {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ddd;
  font-family: sans-serif;
}

.headext span i {
  font-weight: bold;
  margin-right: 5px;
}

.hlbtn i {
  font-size: 25px;
}

@media (max-width: 991.98px) {
  .headuu {
    display: none;
  }
  #headuu {
    display: initial;
  }
}

/* Footer */

footer {
  margin-top: 30px;
  height: 25%;
  width: 100%;
  background: #444;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: sans-serif;
}

.fright,
.fleft {
  height: 100%;
  width: 49%;
  color: white;
  box-sizing: border-box;
  overflow: hidden;
}

.fright {
  display: flex;
}

.fleft p {
  padding-right: 50px;
}

.frl,
.flr {
  height: 100%;
  width: 50%;
}

.frl h2,
.flr h2 {
  font-weight: 100;
}

.frl a,
.flr a {
  color: white;
  text-decoration: none;
}

.frl a:hover {
  text-decoration: underline;
}

.flr i {
  font-size: 30px;
}

.flr i:hover {
  color: cyan;
}

.cpyr {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
}

@media (max-width: 991.98px) {
  .headext {
    height: 92%;
    top: 8%;
    right: 0;
    border-radius: 0;
  }
  footer {
    flex-direction: column;
    height: auto;
    padding: 0;
  }
  .fleft {
    width: 80%;
  }
  .fright {
    flex-direction: column;
    width: 80%;
    margin-bottom: 20px;
  }
}

@media (max-width: 580px) {
  #headext {
    height: 92%;
    top: 8%;
    right: 0;
    border-radius: 0;
  }
  footer {
    flex-direction: column;
    height: auto;
  }
}
