@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fcfbfc;
}

header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 30px;
  font-family: "Baloo Bhaijaan 2", cursive;
}

header img {
  width: 30px;
}

header a {
  text-decoration: none;
  color: #808283;
  margin-left: 30px;
  font-weight: 700;
  font-size: 15px;
  user-select: none;
}

.login-btn {
  margin-left: auto;
  font-size: 17px;
  user-select: none;
}

.banner {
  min-height: calc(100vh - 80px);
  max-height: calc(100vh - 80px);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 0 30px;
}

.girl-banner {
  width: 471px;
  margin-top: 15px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 40px;
  user-select: none;
  line-height: 32px;
}

.content-header {
  font-family: "Baloo Bhaijaan 2", cursive;
  font-size: 70px;
  font-weight: 500;
  height: 40px;
  user-select: none;
}

.content-info {
  font-family: "Baloo Bhaijaan 2", cursive;
  font-size: 15px;
  color: #808283;
  width: 80%;
}

.content-link {
  color: #808283;
  font-size: 15px;
}

.menu-header {
  display: none;
}

@media only screen and (max-width: 1162px) {
  .content-header {
    line-height: 60px;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .girl-banner {
    display: none;
  }
  .menu-header {
    display: initial;
  }
  .header-links {
    display: none;
  }
  header {
    justify-content: space-between;
  }
  .login-btn {
    margin-left: unset;
  }
  .content {
    padding-left: 0;
    align-items: center;
    justify-content: center;
  }
  .content-header {
    font-weight: unset;
    line-height: 50px;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
  }
  .content-info {
    text-align: center;
  }
}
